<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    this is our bean -->

    <bean class="com.springcore.first.Student" name="student1">
        <property name="studentId" value="10"/>
        <property name="studentName" value="ali"/>
        <property name="studentAddress" value="Islamabad"/>
    </bean>


    <bean class="com.springcore.first.Student" name="student2">
        <property name="studentId" value="12"/>
        <property name="studentName" value="zain"/>
        <property name="studentAddress" value="Karachi"/>
    </bean>

</beans>